<head>
    {{>header}}
</head>

<body>
    <div class="container-xxl bg-white p-0">


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
            {{>nav}}

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container my-5 py-5">
                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-3 text-white animated slideInLeft">About Us</h1>
                            <p></p>
                            <p class="text-white animated slideInLeft mb-4 pb-2">At Restoran our team is dedicated to
                                delivering you high-quality and delicious food at a reasonable price.</p>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                            <img class="img-fluid" src="img/hero.png" alt="">
                        </div>
                    </div>

                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                            <img class="img-fluid align-items-center" src="img/about-4.jpg" alt="">
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-3 text-white animated slideInRight">Our Menu
                            </h1>
                            <p class="text-white animated slideInRight mb-4 pb-2">We are dedicated to providing an
                                all-inclusive menu regardless of dietary restrictions or allergies.<br>In our menu pages
                                you will find a detailed list of any allergens included in our dishes so you can better
                                pick what is safe for you.<br>We also offer a range of vegan and vegetarian dishes as
                                well as offering gluten-free alternatives to many of our regular dishes.</p>
                        </div>
                    </div>
                    <div class="row align-items-center g-5">

                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-3 text-white animated slideInRight">Our Ingredients
                            </h1>
                            <p class="text-white animated slideInRight mb-4 pb-2">Every ingredient we use is organic,
                                free range and locally sourced. We take great pride in buying from small, local
                                businesses and making sure our guests have the greatest possible food placed in front of
                                them night after night.</p>
                        </div>
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                            <img class="img-fluid align-items-center" src="img/about-3.jpg" alt="">
                        </div>
                    </div>
                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                            <img class="img-fluid align-items-center" src="img/team-2.jpg" alt="">
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-3 text-white animated slideInRight">Our Team
                            </h1>
                            <p class="text-white animated slideInRight mb-4 pb-2">Restornt has two world-class chefs
                                working on rotation as well as a full, expertly trained team of support chefs and
                                front-of-house staff.<br>All of our staff are paid well above minimum wage and have
                                excellent benefits. As such, tips are not accepted.<br>We're also always looking to
                                expand our family so if you'd like to join feel free to enquire in the restaraunt or
                                contact us <a href="/contact">here.</a></p>
                        </div>
                    </div>

                </div>
                {{>footer}}
            </div>
        </div>
        <!-- Navbar & Hero End -->




        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>