<html>

<head>
    {{>header}}
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <div class="container-xxl position-relative p-0">
            {{>nav}}
        </div>

        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container my-5 py-5">
                <div class="row align-items-center g-5">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="display-3 text-white animated slideInLeft">Drinks</h1>
                        <p class="text-white animated slideInLeft mb-4 pb-2">Choose from our selection of soft drinks,
                            bottled drinks cocktails and mocktails.<br>Any Cocktail can also be served as a mocktail so
                            the kids can join in the fun too!</p>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                        <img class="img-fluid" src="img/hero.png" alt="">
                    </div>
                </div>
            </div>
            {{>menuButtons}}

            <div class="row align-items-center bg-dark">
                {{#entries}}
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <h4 class="card-title text-white">{{dish}}</h4>
                        <p class="card-text">
                            Description: {{description}}
                        </p>
                        <p class="card-text">
                            Ingredients: {{ingredients}}
                        </p>
                        <p class="card-text">
                            Allergens: {{allergens}}
                        </p>
                        <div class="card-footer">
                            <p>Price: £{{price}}</p>
                        </div>
                    </div>
                </div>
                {{/entries}}
                {{>footer}}
            </div>
        </div>
    </div>


    </div>
</body>

</html>