<head>
    {{>header}}
</head>

<body>
    {{>nav}}
    <div class="card" style="padding: 2em;">
        <div class="card-header">
            Edit a Dish
        </div>
        <form action="/add" method="POST">
            <fieldset>
                <div class="mb-3">
                    <label class="form-label">Dish Name</label>
                    <input class="form-control" type="text" id='dish' name="dish" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingredients</label>
                    <input class="form-control" type="text" id="ingredients" name="ingredients" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Allergens</label>
                    <input class="form-control" type="text" id="allergens" name="allergens" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Price</label>
                    <input class="form-control" type="number" id="price" name="price" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Which Menu?</label>
                    <select id="menu" name="menu">
                        <option value="Specials">Specials</option>
                        <option value="Appetisers">Appetisers</option>
                        <option value="Main">Main</option>
                        <option value="Dessert">Dessert</option>
                        <option value="Drinks">Drinks</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="reset">Reset</button>
                <button class="btn btn-primary" type="submit">Submit</button>
            </fieldset>
        </form>
    </div>
</body>