<div class="row align-items-center">
    <div class="btn-group flex-wrap btn-group-lg menubar" role="group" aria-label="Basic example">
        <a type="button" class="btn btn-warning" href="/specials">
            <h1>Specials</h1>
        </a>
        <a type="button" class="btn btn-warning" href="/apps">
            <h1>Appetisers</h1>
        </a>
        <a type="button" class="btn btn-warning" href="/mains">
            <h1>Entreés</h1>
        </a>
        <a type="button" class="btn btn-warning" href="/desserts">
            <h1>Desserts</h1>
        </a>
        <a type="button" class="btn btn-warning" href="/drinks">
            <h1>Drinks</h1>
        </a>
    </div>
</div>