<html>

<head>
    {{>header}}
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <div class="container-xxl position-relative p-0">
            {{>nav}}
        </div>

        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container my-5 py-5">
                <div class="row align-items-center g-5">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="display-3 text-white animated slideInLeft">Enjoy Our<br>Delicious Meals</h1>
                        <p class="text-white animated slideInLeft mb-4 pb-2">Here you can browse through our specially
                            selected dishes and desserts before your visit.
                            Choose from
                            the available meals and make sure to keep an eye on our ever-changing specials menu
                            handpicked by our
                            chefs and staff.</p>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                        <img class="img-fluid" src="img/hero.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="btn-group btn-group-lg menubar" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-warning">
                    <h1>Specials</h1>
                </button>
                <button type="button" class="btn btn-warning">
                    <h1>Appetisers</h1>
                </button>
                <button type="button" class="btn btn-warning">
                    <h1>Entreés</h1>
                </button>
                <button type="button" class="btn btn-warning">
                    <h1>Desserts</h1>
                </button>
                <button type="button" class="btn btn-warning">
                    <h1>Drinks</h1>
                </button>
            </div>
        </div>

        {{>footer}}
    </div>
</body>

</html>