<html>

<head>
    {{>header}}
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <div class="container-xxl position-relative p-0">
            {{>nav}}
        </div>

        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container my-5 py-5">
                <div class="row align-items-center g-5">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="display-3 text-white animated slideInLeft">Experience Our<br>Special Selection</h1>
                        <p class="text-white animated slideInLeft mb-4 pb-2">Our Chef's specials menu is an
                            ever-changing menu that includes classic meals as well as new creations conceived by our
                            team of experts. We take all diets and restrictions into account here so you'll definitely
                            find something for you.<br>This menu changes often so check back regularly, you might just
                            find your new favourite meal!</p>
                    </div>
                    <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                        <img class="img-fluid" src="img/hero.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        {{>menuButtons}}
        <div class="row align-items-center">
            <h1>Here will be cards with special meals</h1>
        </div>

        {{>footer}}
    </div>
</body>

</html>